# Supabase Configuration
SUPABASE_URL=https://cfnkpzsmqikfeewyiqmc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNmbmtwenNtcWlrZmVld3lpcW1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQwNDExMDAsImV4cCI6MjA2OTYxNzEwMH0.tJKe5WCYABF6-E0lNX8CxH0mDaS1iakrbzu09bIR1iU

# Qdrant Configuration
QDRANT_HOST=https://a53f63ac-2231-49c9-99ac-97975d5f979c.us-east-1-1.aws.cloud.qdrant.io
QDRANT_PORT=6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJyIiwiZXhwIjoxNzY0MDY5NTUzfQ.z58f7MNOyS7eeEmkzSVvWXgx5sFIk4h2GKxEAmTuVzY

# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://dilanka:dilanka2002@cluster0.5e3my6l.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0


# LangSmith Configuration - Enable for production monitoring
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="youtube-recommendation-system"

# Other Configuration
ENVIRONMENT=development
LOG_LEVEL=INFO
PORT=8001